@layout('layouts/app')

@section('content')
  <div class="container">
    @if(flashMessages.has('success'))
        <div class="box">
          <p class="help is-danger">
            {{ flashMessages.get('success') }}
          </p>
        </div>
    @endif
    <h1>Home page</h1>
  </div>
@endsection
