<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="app">
    <h1>Home page</h1>
    <img src="/uploads/1603718874137.jpg" alt="">
  </div>
  <script src="js/app.js"></script>
</body>
</html>
